body {
  background: rgb(204,204,204); 
}
.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page {  
  width: 210mm;
  height: 290mm;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}

h1{
    padding: 20px;
}
p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.m-20{
    margin-top: 20px;
}